.nav-buttons {
  font-family: "Libre Caslon Display", serif;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5px;
  background-color: lightgray;
}
